<!-- Title Image-->
<section>
    <div class="container-fluid contact-us-title">
        <div class="container">
            <h1 class="page-title">Contact Us</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

<!-- About and Important links-->
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-8 about-text">
                <br />
                <h4>Head Office</h4>
                <br />
                <ul class="contact-info">
                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                </ul>
                <br />
                <h4>WildLife Sanctuaries </h4>
                <br />
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Assistant Conservator of Forest  (Wild life) <strong>Nandur Madhmeshwer Sanctuary</strong> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Assistant Conservator of Forest  (Wild life)<strong> Kalsubai harichandra Gad Sanctuary</strong> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Assistant Conservator of Forest  (Wild life) <strong>Yawal Sanctuary </strong>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Assistant Conservator of Forest  (Wild life) <strong>Anerdam Sanctuary</strong> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 margin-topBot10">
                <div class="important-link col-md-12">
                    <h2>Important links</h2>
                    <ul>
                        <li><a href="#">4 Crore Plantation Information</a></li>
                        <li><a href="#">Online booking for Forest Rest Houses / Lodging / Safari</a></li>
                        <li><a href="#">Bio-Diversity</a></li>
                        <li><a href="#">Forest Development Corporation Of Maharashtra</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">RTS Services</a></li>
                        <li><a href="#">DIPP Services</a></li>
                        <li><a href="#">Green Army</a></li>
                        <li><a href="#">Government of Maharashtra</a></li>
                        <li><a href="#">Maharashtra Agriculture Deptt</a></li>
                        <li><a href="#">Mahanews</a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>Upcoming Events</h2>

                    <div><%= image_tag("events.png", style: 'width:100%') %></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About and Important links End-->

<script type="text/javascript">
  $('.navbar-right li.active').removeClass('active');
  $("li.contact_tab").addClass('active'); 
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();  
</script>
