<!-- Title Image-->
<section>
    <div class="container-fluid contact-us-title">
        <div class="container">
            <h1 class="page-title">Contact Us</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

<!-- About and Important links-->
<section class="testimonials">
 <div class="container">
 	<div class="row">
    	<div class="col-md-8 about-text">
        <br />
        <h4>Head Office</h4>
        <br />
        	<ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Office of the conservator forests(wildlife) Nashik<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
            </ul>
            <br />
           <h4>WildLife Sanctuaries </h4>
          <br />
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Office of Assistant Conservator of Forest  (Wild life) <strong>Nandur Madhmeshwer Sanctuary</strong> 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
            </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Office of Assistant Conservator of Forest  (Wild life)<strong> Kalsubai harichandra Gad Sanctuary</strong> 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Conservator of Forest's (Wildlife) Nashik.<br />Aranya Sankul Trimbak Naka, Old Agra Road, Nashik - 422 002</li>
                <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
            </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Office of   Assistant Conservator of Forest  (Wild life) <strong>Yawal Sanctuary </strong>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      	<h5><strong>RFO Pal</strong></h5>
        <ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Office of RFO Pal (wildlife), Post - Pal, Tehsil - Raver, District - Jalgaon - 425504.</li>
                <!--<li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>-->
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:rfopal@gmail.com">rfopal@gmail.com</a></li>
            </ul>
            
         <h5><strong>RFO Jamnya</strong></h5>
        <ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Office of RFO Jamnya (wildlife), Mukkam - Jamnya, Post - Marul, Tehsil - Yawal, District - Jalgaon - 425301.</li>
                <!--<li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:rfopal@gmail.com">rfopal@gmail.com</a></li>-->
            </ul>
            
            <h5><strong>ACF - Office of ACF (wildlife)</strong></h5>
        <ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Yawal Wildlife Sanctuary, Forest Colony, Chopda Road, Yawal, District - Jalgaon - 425301. </li>
                <!--<li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>-->
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:acfwlyawal@gmail.com">acfwlyawal@gmail.com</a></li>
            </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
       Office of   Assistant Conservator of Forest  (Wild life) <strong>Anerdam Sanctuary</strong> 
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <ul class="contact-info">
            	<li> <i class="fa fa-map-marker" aria-hidden="true"></i> Range forest Officer, Wild Life Anerdam Shirpur. Near Khanderao Maharaj Mandir, Tal. Shirpur, Dist. Dhule</li>
               <!-- <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>-->
            </ul>
      </div>
    </div>
  </div>
</div>
         
        </div>
        <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
        	<h2>Inquiry</h2>
               <div class=" form-group">
               		<label>Name</label>
                    <div><input type="text" class="form-control" /></div>
               </div>
               <div class=" form-group">
               		<label>Email</label>
                    <div><input type="text" class="form-control" /></div>
               </div> 
               <div class=" form-group">
               		<label>Phone</label>
                    <div><input type="phone" class="form-control" /></div>
               </div>  
               <div class=" form-group">
               		<label>Comment</label>
                    <div><textarea  class="form-control"></textarea></div>
               </div> 
               <div class=" form-group text-right">
               		<input type="submit" value="RESET" class="btn btn-default" />
               		<input type="submit" value="SUBMIT" class="btn btn-green" />
                    
               </div>
            </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>Upcoming Events</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%') %></div>
            </div>
        </div>
    </div>
 </div>
  </section>
<!-- About and Important links End-->

<script type="text/javascript">
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
</script>
