<!-- Title Image-->
<section>
	<div class="container-fluid">
    	<div class="container">
        	<h1 class=" head"> Disclaimer </h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

 <!-- About and Important links-->
 <section class="testimonials">
 <div class="container">
 	<div class="row">
    	<div class="col-md-8">
        <p>Although information and contents of various departmental websites of this portal have been put with care and diligence, Forest Department does not take responsibility on how this information is used or the consequences of its use. In case of any inconsistency/confusion, the user should contact the concerned Department/Officer of Forest Department for further clarifications.</p>
        	
           
      
        
         
        </div>
        <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
        	<h2>Important links</h2>
                <ul>
                    <li><a href="#">4 Crore Plantation Information</a></li>
                    <li><a href="#">Online booking for Forest Rest Houses / Lodging / Safari</a></li>
                    <li><a href="#">Bio-Diversity</a></li>
                    <li><a href="#">Forest Development Corporation Of Maharashtra</a></li>
                    <li><a href="#">Internet</a></li>
                    <li><a href="#">DIPP Services</a></li>
                    <li><a href="#">Green Army</a></li>
                    <li><a href="#">Government of Maharashtra</a></li>
                    <li><a href="#">Maharashtra Agriculture Deptt</a></li>
                    <li><a href="#">Mahanews</a></li>
                </ul>
            </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>Upcoming Events</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%') %></div>
            </div>
        </div>
    </div>
 </div>
  </section>
 <!-- About and Important links End-->

 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>