<!-- Title Image-->
<section>
    <div class="container-fluid eco-tourism">
        <div class="container">
            <h1 class="page-title">Nandur  Madhameshwar Wildlife Sanctuary</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->



<!-- About and Important links-->
<section class="testimonials">
    <div class="container font-marathi">
        <div class="row">
            <div class="col-md-4 margin-topBot10">
                <div class="important-link">
                    <div class="clearfix"></div>
                    <ul class="sidebar-menu">
                        <li id="m1_click" class="active"><a href="javascript:void(0);">NANDUR MADHAMESHWAR </a></li>
                        <li id="m2_click"><a href="javascript:void(0);">SIGNIFICANCE</a></li>
                        <li id="m3_click"><a href="javascript:void(0);">LOCATION AND ACCESS </a></li>
                        <li id="m4_click"><a href="javascript:void(0);">BIODIVERSITY</a></li>
                        <li id="m5_click"><a href="javascript:void(0);">ECOTOURISM</a></li>
                        <li id="m6_click"><a href="javascript:void(0);">TEMPLE TOURISM </a></li>
                        <li id="m7_click"><a href="javascript:void(0);">VISITOR INFO</a></li>
                        <li id="m8_click"><a href="javascript:void(0);">GET INVOLVED </a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>Upcoming Events</h2>

                    <div><img src="images/events.png" width="100%" ></div>
                </div>
            </div>
            <div class="col-md-8 about-text">
                <div id="bhandardara">

                    <div class="row">
                        <h4 class="col-md-12 sub-heading">Wetland</h4>
                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <p>Aurangabad and Ahamadnagar Districts in the past were facing continuous scarcity of water. To overcome this situation, the then British Government had formulated a scheme called Godavari Canal System by constructing dams across the river Darna at Nandgaon and at the confluence of rivers Godavari and Kadva at Nandur Madhameshwar in the years 1907-1913.</p>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <p>The lot of silt and organic matter is carried by the water flow and the same is deposited in the Nandur Madhameshwar reservoir and surrounding areas which are mainly agricultural lands. The repeated deposition of silt and organic matter annually resulted into formation of the islands and many shallow water ponds. It has resulted in enriching biological conditions and stabilizing the vegetation and fauna. The man made reservoir thus turned into a wetland habitat, attracting thousands of winged visitors every winter.</p>



                        </div>

                        <div class="col-md-6"><img src="images/bhandardara02.jpg" width="100%" /></div>
                        <h4 class="col-md-12 sub-heading">Sanctuary</h4>
                        <div class="col-md-12">

                            <p>Dr.Salim Ali during his visit to Nandur Madhameshwar had stated that the site was known to him since 1941 and he opined that, this wetland has the potential of becoming "Bharatpur" of Maharashtra.</p>
                            <p>The survey of this wetland was done by World Wildlife Fund for Nature & Bombay Natural History Society in the year 1975. The real focus on the area and demand for its protection started when the nature lovers raised voice through the news paper for stopping the poaching of birds in the year 1982.83. In response to the demand of nature lovers and after assessing the ecological importance of the area, Government of Maharashtra declared this as closed area in the year 1983 and subsequently was declared as sanctuary as per provision of section 18 of the Wildlife (Protection) Act, 1972 in the year 1986 as per the notification dated 25.02.1986. Nandur Madhameshwar sanctuary includes 11 villages of Niphad Taluka of Nashik District namely
                            <ul style="list-style-type:decimal; font-weight:bold;">
                                <li>Nadur Madhameshwar</li>
                                <li>Kurudgaon</li>
                                <li>Chapadgaon</li>
                                <li>Khangaon-Thadi</li>
                                <li>Dindori</li>
                                <li>Khathargaon</li>
                                <li>Karanjgaon</li>
                                <li>Kothure</li>
                                <li>Pimplas</li>
                                <li>Manjargaon</li>
                                <li>Shivare</li>
                            </ul>
                            having total area of 10012.73 ha. In 1994 government has appointed Sub Divisional Officer (Niphad) as enquiry officer under Section 26 of Wildlife (Protection) Act, 1972 to exercise power or the functions to be performed by Collector  under section 19 to 25 (both inclusive) of the said act. Accordingly enquiry officer has recommended 1176.457 ha to be included in final notification of the sanctuary. These include 971.39 ha. area of Irrigation Department, 150.00 ha. area of Revenue Department and 55.067 ha. area of Forest Department. </p>


                        </div>

                        <div class="col-md-12">
                            <h4 class=" sub-heading">Topography</h4>
                            <p>The topography of the sanctuary is fairly level. Minimum elevation above sea level is 512.50 meters whereas maximum elevation above sea level is 536 meters.</p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="sub-heading">Climate</h4>
                            <p>As per Köppen-Gieger Climate Classification System, the climate of sanctuary is Sub-tropical Steppe (BSh) type. The average temperature is 25.3 oC and about 514 mm of precipitation falls annually.</p>
                        </div>
                        <div class="col-md-12">
                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="shende">
                    <h3 class="page-header-inner">SIGNIFICANCE</h3>
                    <div class="row">
                        <h4 class="col-md-12 sub-heading">Biological</h4>
                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <p>Nandur Madhameshwar wetland is formed by the water of pick up weir. Masonry pick-up weir is constructed in the past just below the confluence of river Kadwa & Godavari. The water stored in the reservoir is released through canals for irrigation purposes to far off places. Over the last 75 years considerable amount of siltation which has taken place altering to the appearance of the original river course. The difference of height above the weir & down is striking.The original nature of riverbed is clearly visible below the weir. </p>

                        </div>
                        <div class="col-md-12">
                            <p>This wetland is basically formed because of deposition of silts. The numerous tiny islands have been formed in addition to the permanent island near Manjargaon. A number of shallow water stretches have also been formed along the riverbanks. The main river course of kadwa and Godavari is deep. The shallow water pools are rich in algae. Partly submerged area has a thick growth of aquatic vegetation. The marsh is largely covered by good growth of reeds. The water Hyacinth has made considerable invasion. Parthenium growth is also increasing. Shinde (1986) listed 536 species of  plants , notables are Ipomea fitulosa,Ipomea aquatica, Hydrophila auriculata ,Phylanodiflora,  Polygonum glabrum, Rumex detatus, Hydrilla  verticillata, Elchornia species, Typha species, Pontamogeton species, Paspslidum species. Tree species are Ficus, Mango, Tamarind, Neem, Acacias etc.</p>
                            <p>Nandur Madhameshwar wetland is biologically rich and it is the habitat for diverse variety of flora and fauna. Migration season of birds is October- Nov. to Feb-March each year. During this season the area attracts lots of migratory birds coming from far off places. The major migratory species are Ducks, Storks, Ibises, Cranes, Flamingos and Weaders. In the migration season the scene at Nandur Madhameshwar is amazing, as one can observe large flocks of various species of birds together.</p>
                            <p>The terrestrial animals like black naper Hare, Jackle, Civet cat, Jungle cat, Mongoose and many species of Snakes have been seen often by the people. There are occasional sightings of Wolf, Mangoose, Lizards, and Leopard etc. in the wetland area of Nandur Madhameshwar.</p>
                            <h4 class="sub-heading">Economical</h4>
                            <p>Prior to the construction of the Nandur Madhameshwer weir this region was quite dry. But due to construction of the pickup weir, irrigation to the adjoining cultivation is assured. This has helped to bring areas under irrigation thereby changing the economy of the region. Fishing is another major economical activity that has resulted because of formation of reservoir. Another activity that has enriched the local economy is Galpera or the seasonal cropping carried out on the reservoir bed as the water recedes. Thus, one can see that the Nandur Madhameshwer wetland has major economic significance in this region.</p>
                            <h4 class="sub-heading">Recreational</h4>
                            <p>The Nandur Madhameshwer reservoir has a great recreational & aesthetic value. The scenic beauty of landscape particularly at sunrise & sunset is unique. The flocks of thousands of migratory & local birds during the peak season i.e. in between October & March make a fascinating sight .The entire reservoir gets covered with colorful avian fauna in this period. Even walking along the lake side is enjoyable.</p>
                            <h4 class="sub-heading">Scientific</h4>
                            <p>This wetland is a complex ecosystem with interlinkages with other wetlands in the proximity. The main water course of river Godavari & Kadwa, the small islands, shallow water pond, adjoining cultivated fields and Towns forms a unique complex chain of wetland. Therefore there is a scope for research on topics like floristic studies, soil studies, habitat assessment and improvement, invasive species and their effects, ecotourism and people participation etc.</p>
                            <h4 class="sub-heading">Educational</h4>
                            <p>The scope for conservation, education & awareness through the NMS is tremendous. The conservation biology of different resident birds, the migratory patterns, the habit & habitat of diverse species inhabiting the reservoir, the special ecological niches and interlinkages between the various components of the ecosystem are source of many aspects of ecological studies.</p>

                            <h4 class="sub-heading">Religious</h4>
                            <p>There are religious temples around Nandur Madhameshwer reservoir such as Madhameshwara just below the dam, Siddeshwer at Karanjgaon, Sangameshwer & Nawsya Ganpati at Khangaon Thadi, Mrugwadeshwer at Nandur Madhameshwer. Piligrims & tourist are visiting these Temples every year.</p>

                            <h4></h4>
                        </div>

                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="kalsubai">
                    <h3 class="page-header-inner"> LOCATION AND ACCESS </h3>
                    <div class="row">
                        <div class="col-md-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3748.981089076423!2d74.13447571468879!3d20.00930838655932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddca17ef0aeaed%3A0xaae69a7a1b403c9!2sNandur+Madhmeshwar+Bird+Sanctuary!5e0!3m2!1sen!2sin!4v1506870572841" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        <div class="col-md-12">
                            <p>Nandur Madhameshwar is having longitude 74°2' to 74°10' E. and latitude 19°59' to 20°4' N. </p><p> It is located at a distance of about 40 km East of Nishik in Niphad Taluka in Nashik district of Maharashtra State.</p><p> It is about 55 km from   Nashik Road Railway station. Niphad Town is 12 km to the North of the pick-up weir of Nandur Madhameshwar. The area is easily approachable by pucca roads from Nashik as well as from Niphad. </p><p>State transport buses are plying regularly over these roads. </p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="harishchandragad">
                    <h3 class="page-header-inner">BIODIVERSITY</h3>
                    <div class="row">
                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <p>Located at interface of Western Ghats and Deccan Plateau Biogeographic Zones of India, wetland habitat developed as a consequence of deposition of silt over 100 years and legal protection has resulted NMWLS as a biodiversity rich area.</p>

                            <p>Till now 536 species of aquatic and terrestrial plants, 8 species of mammals, 265 species of birds, 24 species of freshwater fishes, 41 species of butterflies have been recorded from the area. NMWLS contains 1 species of plant, 4 species of birds and 4 species of fishes endemic to the region.  </p>

                        </div>


                        <div class="col-md-12">
                            <p>Besides NMWLS is utilized by wetland dependent species especially birds during migration season from October to March over the years.</p>
                            <p>Out of 265 bird species which visit NMWLS, 148 species are migratory (distant and local) and 88 species are relevant to Ramsar Convention. It also has 1 species of plant, 1 species of mammals, 8 species of birds and 2 species of freshwater fishes which are globally threatened. </p>
                            <ul>
                                <li>Plants</li>
                                <li>BIRDS</li>
                                <li>BUTTERFLIES</li>
                                <li>FISHES</li>
                                <li>MAMMALS</li>

                            </ul>
                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="vilson">
                    <h3 class="page-header-inner"> ECOTOURISM</h3>
                    <div class="row">
                        <div class="col-md-6"><img src="photo-gallery/Nandur-Madhyameshwar/Artificial-Bird-Roosting-Trees.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">BIRD WATCHING</h4>
                            <p>NMWLS is paradise for birdwatchers from all walks of life. It is considered as Bharatpur of Maharashtra. Tourist coming to the NMWLS sanctuary has ample options to pursue bird watching at different locations within the sanctuary. Chapadgaon, Manjargaon, Nandur Madhameshwar Dam, site just below the dam, Reserved Forest at Dindori Taas, Kathargaon, Kurudgaon are Hot Spots of bird watching. Major duck assemblage is at Chapadgaon, Manjargaon and Kothure, site below the dam hosts waders and cliff swallows, Reserved Forest at Dindori Taas is home of beautiful peacoks whereas Kathargaon is major attraction for Cranes during migration period. Facilities like Watch Towers, Bird Hide and Bird Watching gallery are in place for bird watching.</p>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">BAGLA FESTIVAL</h4>
                            <p>Hundreds of egrets gather at dusk around Acacia trees near Chapadgaon Tourist Centre every day during migration period. After some time they start circumventing the trees to see any danger before settling for roost at night. They are also accompanied by cormorants and herons. This daily festival can be seen at close distance from bird hide and watch tower near Chapadgaon Tourist Centre.</p>

                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">NATURE TRAIL</h4>
                            <p>About two and half kilometer Nature Trail near Chapdgaon Tourist Centre gives exposure to wetland habitat. Interspersed with watch towers it also gives good bird watching experience.  </p>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">PEACOCK TRAIL</h4>
                            <p>55 Ha. Reserved Forest is home for hundreds of beautiful Peacocks. They can be best seen during evening. Here tourist can also find Hyena and Wolves. </p>

                        </div>
                        <br />
                        <div class="clearfix"></div>
                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">NANDUR MADHAMESHWAR DAM</h4>
                            <p>The weir was constructed on confluence of Godavari & Kadwa Rivers is major attraction for tourist both during Monsoon and winter season. The fall of water from walls of weir and gates during Monsoon and glimpse of Waterfowls, Madhameshwara Temple and Sangmeshwara temple during winter enrich visitors' experience. </p>

                        </div>
                        <br />
                        <div class="clearfix"></div>

                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="randha">
                    <h3 class="page-header-inner"> TEMPLE TOURISM</h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>Besides, Winged Visitors NMWLS is also known for its historic temples. Temples especially on the banks of the Godavari and Kadwa Rivers attracts pilgrims throughout the year for their archeological and aesthetic beauty. </p>

                        </div>

                        <h4 class="sub-heading col-md-12">MADHAMESHWARA TEMPLE</h4>
                        <div class="col-md-6"><img src="photo-gallery/Nandur-Madhyameshwar/Nandur-Madhameshwar-Temple.jpg" width="100%"></div>
                        <div class="col-md-6">
                            <p>The temple is 250-year-old made up of stone and mortar and stands on a small, rocky islet just below the Nandur Madhameshwar Pickup Weir. The sabhamandap has small arched entrances and a 9 ft high dipmal in front of it. An inscription dated 1738 is engraved on the dipmal records the name of ascetic. The Nandur Madhameshwar village, the Nandur Madhameshwar Pickup weir and thereby Nandur Madhameshwar Wildlife Sanctuary has got name from it.</p>
                        </div>
                        <div class="clearfix"></div>


                        <h4 class="sub-heading col-md-12">SANGMESHWAR TEMPLE</h4>
                        <div class="col-md-6 ">Image</div>
                        <div class="col-md-6">
                            <p>A small Shiva temple is located on the left bank of Kadva River at Kathargaon. A stone carved big Pindi and Nandi is found here. The area around the temple is best site for Crane sightings in winter. You can also see picturesque confluence of the River Godavari and the River Kadva.</p>
                        </div>

                        <div class="clearfix"></div>

                        <h4 class="sub-heading col-md-12">BANESHWAR TEMPLE</h4>
                        <div class="col-md-6">Image</div>
                        <div class="col-md-6">
                            <p>Established in 1716 by Sir Malhar Dadaji Kadam, Baneshwar Temple is situated at Kothure. It is on the bank of Godavari River. The temple is dedicated to Lord Shiva, widely referred here as Baneshwar. He is in the form of Pindi. There are two Pindis, the second one is situated exactly under the first one. A "Yatra" is organized on Maha Shivaratri Day every year. The temple is nearly 3 km from the Nasik-Aurangabad Highway. The nearest railway station is at Niphad.</p>
                        </div>

                        <div class="clearfix"></div>

                        <h4 class="sub-heading col-md-12">MRUGVYADESHWAR TEMPLE</h4>
                        <div class="col-md-6">Image</div>
                        <div class="col-md-6">
                            <p>This temple located about 500 meter from right bank of Godavari River in Nandur Madhameshwar Village. The temple complex has tw0 temples namely Mrugvyadeshwar Temple and Shani Maharaj Temple. Tourist coming from Niphad can visit this on road temple complex.</p>
                        </div>



                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ratanwadi">
                    <h3 class="page-header-inner">VISITOR INFO</h3>
                    <div class="row">


                        <div class="col-md-12">
                            <h4 class="sub-heading">LOCATION</h4>
                            <p>Nandur Madhameshwar lies between 200 02' 34.05'' N (North), 740 08' 52.34''E (East) and 200 00' 08.57" N (South), 740 03' 31.38" E (West). </p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="sub-heading">HOW TO REACH</h4>
                            <p>The Nandur Madhameshwar is located at a distance of about 40 km East of Nashik in Niphad Taluka in Nashik district of Maharashtra State. It is about 55 km from   Nashik Road Railway station. Niphad Township is 12 km to the North of the pick-up weir of Nandur Madhameshwar. The area is easily approachable by pucca roads from Nashik as well as from Niphad. State transport buses are playing  regularly over these roads. </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">WHEN TO COME</h4>
                            <p>The best time to visit NMWLS is migration period i.e. from October to March. During this time thousands of winged visitors come here. Between April and September you can see some resident birds here.  </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">WHAT TO BRING</h4>
                            <p>Binocular, Bird Field Guide and necessary clothing are necessary to enhance your experience of bird watching here. </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">WHERE TO STAY</h4>
                            <p>For accommodation of tourist at NMWLS, facilities of Guest House, Dormitory, Eco Huts and Eco Tents are available on rent. Food is arranged locally. For booking please contact Conservator of Forest (Wildlife) Office, Nashik and Range Forest Office, Nashik.</p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">WHOM TO CONTACT</h4>
                            <p><address>Office of Conservator of Forest (Wildlife),<br />
                                Aranya Sankul Premises,<br />
                                Opposite Adhivasi Vikas Bhawan,<br />
                                Trimbak Naka, Nashik. 422002.<br />
                                Phone No. 0253-2505116	
                            </address> </p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">WHAT TO EXPECT</h4>
                            <p>Being amateur or seasoned nature lover, you can expect migratory birds sighting both number wise and species wise at NMWLS. A nature trail at Chapdgaon gives you exposure to Wetland Habitat and its importance as bird habitat whereas a trail at Dindori Taas gives of glimpse of magnificent Peacocks. From different Watch Towers, Bird Galleries and Bird Blind you can see flocks of migratory birds and a wetland which host this avifaunal diversity. A walk on Pickup Weir, you will get breeze coming from confluence of the River Godavari and River Kadva and also picturesque view of  Madhameshwara and  Sangmeshwara Temples.</p>
                        </div>


                        <div class="col-md-12">
                            <h4 class="sub-heading">NEARBY TOUIST LOCATIONS</h4>
                            <p>NMWLS is located on Nashik- Shirdi- Aurangabad Tourist Circuit. Tourist traveling on this circuit can spare some time to see biodiversity of NMWLS. Tourist locations like Trimbakeshwar, Tapovan, Shirdi, Ellora Caves, Deogiri Daulatabad Fort and Aurangabad are located on  65 kms, 40 kms, 70 kms, 145 kms, 150 kms and 165 kms respectively from NMWLS.</p>
                        </div>

                        <div class="col-md-12">
                            <h4 class="sub-heading">DOs</h4>
                            <ul style=" list-style-type:decimal">
                                <li>Follow the gate timing strictly i.e. 7am -6 pm</li>
                                <li>Wildlife sightings are matter of chance. Be patient.</li>
                                <li>Total silence and discipline enhances chances of wildlife sightings.</li>
                                <li>Small groups are preferred. Early mornings and late afternoons are ideal.</li>
                                <li>Always carry drinking water.</li>
                                <li>Carry a first aid kit with medicines for common ailments.</li>
                                <li>Radios and tape recorders are best left at homes to enjoy music of Nature here.</li>
                                <li>Respect Birds/Animals and their habits.</li>
                                <li>Respect Birds/Animals and their habits.</li>
                                <li>Carry a note pad, road maps, bus, train and airline time tables.</li>
                                <li>Always follow the instructions of the staffs and the Naturalists accompanying you.</li>
                            </ul>

                        </div>
                        <div class="col-md-12">
                            <h4 class="sub-heading">DON'Ts</h4>
                            <ul style=" list-style-type:decimal">
                                <li>Consuming alcohol or visiting sanctuary under the influence of alcohol is strictly 
                                    prohibited.
                                </li>
                                <li>Traveling alone is prohibited especially in the sugarcane fields around.</li>
                                <li>Entering into water is prohibited. </li>
                                <li>Do not wear colorful clothes or perfumes. Khakis, browns and greens are best suited for 
                                    forests
                                </li>
                                <li>Do not shout, disturb or tease birds/animals.  </li>
                                <li>Do not chase birds/animals for photographs.</li>
                                <li>No pet inside the sanctuary please.</li>
                                <li>Do not pick plants, flowers and fruits. These forms feed for birds/animals. </li>
                                <li>Avoid smoking and do not carry any inflammable materials to avoid fire.</li>
                                <li>Please do not litter the surroundings.</li>
                                <li>Plastics are not allowed inside.</li>

                            </ul>


                        </div>

                        <div class="col-md-12">

                            <p><em><strong>Remember</strong>- Do not leave anything but footprints, do not take anything but memories from Bird</em></p>
                            <p><em><strong>Paradise</strong>- Nandur Madhameshwar Wildlife Sanctuary.</em></p>
                        </div>




                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ghatghar">
                    <h3 class="page-header-inner"> GET INVOLVED</h3>
                    <div class="row">
                        <div class="col-md-6"><img src="images/bhandardara01.jpg" width="100%" /></div>
                        <div class="col-md-6">
                            <h4 class="sub-heading">BIRD ESTIMATION</h4>
                            <p>Bird Estimation is monthly activity at NMWLS. Bird watchers from every walk of life are invited for this activity. You can participate during monthly bird estimation. For dates please contact Range Forest Officer, NMWLS. </p>
                            <p>Depending on participants, teams are formed and they are given particular area for bird estimation. Birds are estimated Species wise and Group wise. Besides, on the day of your visit to NMWLS, you can submit the list of birds that you have seen to NMWLS staff on duty.</p>

                        </div>


                        <div class="col-md-12">
                            <h4 class="sub-heading">BIRD FESTIVAL</h4>
                            <p>NMWLS management is planning Bird Festival as yearly activity since this year. The dates for it will be updated soon.</p>
                            <h4 class="sub-heading">PHOTOGRAPHY EXHIBITION</h4>
                            <p>NMWLS organizes photography exhibition at Nature Interpretation Centre at Khangaon Thadi during World Wetland Day and Sanctuary Foundation Day every year. If you are interested to exhibit your work you can contact Range Forest Officer, NMWLS. You can also send quality portraits, landscapes, Animal Behaviour, Animal in their Environment, Plant Life photos in color and black and white to <a href="mailto:acfnmsnashik@gmail.com"> acfnmsnashik@gmail.com</a> mail to exhibit along with necessary details. </p>
                            <h4 class="sub-heading">ENVIRONMENT AWARENESS</h4>
                            <p>To create awareness among masses for migratory birds, animals, wetland habitat and its importance for ecosystem services, NMWLS management organizes various activities like workshops, guest lectures, nature walks, school camps etc on various days like Wildlife Week, World Wetland Day and Sanctuary Foundation Day etc. You can be part of these days at NMWLS.</p>
                            <h4 class="sub-heading">REPORT CRIME</h4>
                            <p>Wildlife crime is not a major issue at NMWLS, but it can't be ignored. Some crimes go unnoticed even after taking due diligence. Owing to less manpower, NMWLS also face problem for detection of such crimes. You can report crime if it is happening before you or if you are aware about such happenings within NMWLS to Range Forest Officer, NMWLS. Otherwise you can also dial <strong>1926</strong> to report crime. </p>
                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</section>

<script>
    wow = new WOW(
    {
    animateClass: 'animated',
    offset:       100,
    callback:     function(box) {
    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
    }
    }
    );
    wow.init();
</script>
<script language="javascript">
    $(document).ready(function() {
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").hide();
    $("#m1_click").click(function(){
    $("#m1_click").addClass("active");
    $("#m2_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");		
    $("#bhandardara").fadeIn();
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();

    });

    $("#m2_click").click(function(){
    $("#m2_click").addClass("active");
    $("#m1_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#shende").fadeIn();
    $("#bhandardara, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
    });

    $("#m3_click").click(function(){
    $("#m3_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#kalsubai").fadeIn();	
    $("#bhandardara, #shende, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	

    });

    $("#m4_click").click(function(){
    $("#m4_click").addClass("active");
    $("#m2_click, #m1_click, #m3_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#harishchandragad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m5_click").click(function(){
    $("#m5_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#vilson").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m6_click").click(function(){
    $("#m6_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m5_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#randha").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m7_click").click(function(){
    $("#m7_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m5_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");	
    $("#ratanwadi").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();			
    });

    $("#m8_click").click(function(){
    $("#m8_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ghatghar").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m9_click").click(function(){
    $("#m9_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m8_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ratangad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m10_click").click(function(){
    $("#m10_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m8_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#aajobagad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #sandan, #alanggad, #kulang").fadeOut();					
    });

    $("#m11_click").click(function(){
    $("#m11_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m8_click, #m12_click, #m13_click").removeClass("active");

    $("#sandan").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #alanggad, #kulang").fadeOut();				
    });

    $("#m12_click").click(function(){
    $("#m12_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m8_click, #m13_click").removeClass("active");
    $("#alanggad").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #kulang").fadeOut();				
    });

    $("#m13_click").click(function(){
    $("#m13_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m8_click").removeClass("active");
    $("#kulang").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad").fadeOut();				
    });

    });

</script>