<!-- Title Image-->        
<section>
    <div class="container-fluid eco-tourism">
        <div class="container">
            <h1 class="page-title">Yawal wildlife Sanctuary</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

<!-- About and Important links-->
<section class="testimonials">
    <div class="container font-marathi">
        <div class="row">
            <div class="col-md-4 margin-topBot10">
                <div class="important-link">
                    <div class="clearfix"></div>
                    <ul class="sidebar-menu">
                        <li id="m1_click" class="active"><a href="javascript:void(0);">History </a></li>
                        <li id="m2_click"><a href="javascript:void(0);">Location</a></li>
                        <li id="m3_click"><a href="javascript:void(0);">Topography </a></li>
                        <li id="m4_click"><a href="javascript:void(0);">Geology</a></li>
                        <li id="m5_click"><a href="javascript:void(0);">Climate</a></li>
                        <li id="m6_click"><a href="javascript:void(0);"> Approach & Access   </a></li>
                        <li id="m7_click"><a href="javascript:void(0);">Significance</a></li>
                        <li id="m8_click"><a href="javascript:void(0);">EcoTourism </a></li>
                        <li id="m9_click"><a href="javascript:void(0);">Temple Tour </a></li>
                        <li id="m10_click"><a href="javascript:void(0);">Visitors Info </a></li>
                        <li id="m11_click"><a href="javascript:void(0);">Get Involved</a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>Upcoming Events</h2>

                    <div><%= image_tag("events.png", style: 'width:100%') %></div>
                </div>
            </div>
            <div class="col-md-8 about-text">
                <div id="bhandardara">
                    <h3 class="page-header-inner">HISTORY </h3>
                    <div class="row">


                        <div class="col-md-12">
                            <p>Yawal wildlife sanctuary is an excellent habitat for wildlife of central India came into existence vide Government of Maharashtra Resolution, Revenue & forest department dated 21 January 1969. Area constituted by sanctuary is 172.57 sq.km includes 58 compartments of Pal & Jamnya Range. There are villages like Gadrya, Jamnya, Usmali, Garbardi, Langda-amba, Saybupada (Nimdya) where tribal population is predominant. Main tribes are Tadvi, bhills, Pawra. the Pal name is derived from Pallavi the daughter of ancient ruler. Agriculture is the livelihood of villagers.</p>
                        </div>




                    </div>
                </div>

                <div id="shende">
                    <h3 class="page-header-inner">Location</h3>
                    <div class="row">

                        <div class="col-md-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1342187.2807855213!2d75.90485721726301!3d21.690930572081395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd85898cce4e177%3A0xcd0b56b6471c34e3!2sYawal+Wildlife+Sanctuary!5e0!3m2!1sen!2sin!4v1507131198630" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        <div class="col-md-12">
                            <p>Located in Jalgaon district of maharashtra state. Sanctury is spreads between 75o 33' to 70o 54' E longitues & 21o 15' to 21o 24' N latitudes. The sanctuary is spread like elongated strip bordering Madhyapradesh state. </p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="kalsubai">
                    <h3 class="page-header-inner"> Topography </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>Yawal wildlife sanctuary is located in compact block or reserved forest spread over  Satpuda mountain ranges. These mountain ranges are mostly in east west length & heavily criss-crossed by number of streams & streamlines which makes the terrain difficult to communication. Aner, Manjal, Suki, Mor & Bhokar are rivers constituting drainage system of sanctuary. Valley formed are very narrow in width & valley sides are steep slopes. latitudinal variations are more varies from 400 M to 1074 M above MSL.</p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="harishchandragad">
                    <h3 class="page-header-inner">Geology </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>The major of satpuda is covered by basaltic flows, commonly know as deccan traps. Volcanic rocks are considered to be prodces of fissure types of eruptions of upper cretaceous to lower Eocene period.</p>


                        </div>



                    </div>
                </div>


                <div id="vilson">
                    <h3 class="page-header-inner"> Climate </h3>
                    <div class="row">

                        <div class="col-md-12">

                            <p>Latitudinal variations accompanied by the orientation of mountain ranges have noticeable impact on general climate of sanctuary area. Distinct seasons are noticed & these are monsoon from june to october, winter from november to february, summer from march to may.</p>

                        </div>










                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="randha">
                    <h3 class="page-header-inner"> Approach & Access </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>Pal is the important entrance point for the visit to the sanctuary & it is approachabe in all wheather by road from Bhusawal & Raver, taluka headquarter & Jalgaon, district headquarter. The facility of telephone & rural health centre is available at Pal. the township Raver & Savada are at 24km & 30km Away from Pal where fuel, hotels, hospitals & transport etc are available. </p>

                        </div>



                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ratanwadi">
                    <h3 class="page-header-inner">SIGNIFICANCE </h3>
                    <div class="row">


                        <div class="col-md-12">

                            <p>The sanctuary supports variety of wild animals such as tiger, leopard, wild dog, antelope, jackal, wild boar & variety of birds. Flying squirrel & Chinkara are the endangered species exists in sanctuary area. Yawal is the only wildlife sanctuary found in Jalgaon district. Satpuda ranges have numbers of protected areas such as Pench National park, Melghat tiger reserve, Yawal wildlife sanctuary, Anerdam sanctuary & this track is very important for the movement of free flow of wildife & exchange of genes. Hence Yawal wildlife sanctuary forms an important link of these protected area network. The conservation & proper management of the entire area can creat an ideal biosphere reserve. </p>
                            <p>The proposed tiger corridor like Melghat - Yawal sanctuary - anedam sanctuary which connect to forest of satpuda tiger reserve in MP & from there to Pench tiger reserve both in MH & MP is most significant for tiger habitat. </p>

                        </div>







                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ghatghar">
                    <h3 class="page-header-inner"> BIODIVERSITY</h3>
                    <div class="row">

                        <div class="col-md-12">
                            <h4 class="sub-heading">Vegetation </h4>
                            <p>Forest within sanctuary is Southern Tropical Dry Deciduous Forest under Champions revised classified of forest types of India 1963. Trees like teak, anjan, babul, tamarindus, dhavda, jambhul, kadai,haldu, khair, mahuwa, nimb, salai, tiwas along with different bamboo, shrubs, herbs, grasses, climbers, parasites species found in the forest. </p>

                            <h4 class="sub-heading">Mammals  </h4>
                            <p>Tiger, leopard, Bear, chinkara, Hare, flying squirrel, Indian wolf, jackal, wildl cat, hyena, porcupine, common fox, mongoose, langur, barking deer, spotted deer, wild boar etc</p>

                            <h4 class="sub-heading">Reptiles   </h4>
                            <p> calotes, gecko, python, cobra, chameleon, common garden lizard, common monitor lizard, krait, common rat snake, viper etc</p>

                            <h4 class="sub-heading">Avifauna   </h4>
                            <p>Peacock, stork, egret, pigeon, forest owlet, cormorant, hornbill, heron, ibis, eagle, kite, wood pecker, sandpiper, parakeet, babbler, flycatcher etc. </p>


                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>   
                <div id="ratangad">
                    <h3 class="page-header-inner"> ECOTOURISM </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:decimal">
                                <li>Dhanvantari Udyan/ Nakshatra Van</li>
                                <li>Suki dam</li>
                                <li>Pal hill station</li>
                                <li>Deer centre</li>
                                <li>Nature trail</li>
                                <li>View Point</li>
                            </ul>




                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="aajobagad">
                    <h3 class="page-header-inner"> VISITORS INFO  </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:decimal">
                                <li>Location - Yawal tehsil of Jalgaon district of Maharashtra </li>
                                <li>How - By road -  Pal is the importatnt entrance point for the visit to the sanctuary is away from Jalgaon (74 km), Raver(28 km), Bhusawal (48 km), Sirwel - MP (), Bhurhanpur - MP ()
                                    <ul>
                                        <li>By Rail -  Nearest station Raver & then Bhusawal.</li>
                                        <li>By Air - Aurangabad where domestic services of India Airlines are available regularly. </li>
                                    </ul>
                                </li>
                                <li>When - - Best season to visit sancuary is September to Febuary</li>
                                <li>Acomodation - Forest rest house at Pal</li>
                                <li>Nearby tourism location - Pal Hill station, Vyas Muni temple at Yawal, Hatnur Dam, Manudevi temple, Sirwel mahadev temple (MP)</li>
                            </ul>




                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>  

                <div id="sandan">
                    <h3 class="page-header-inner"> GET INVOLVED   </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:decimal">
                                <li>Bird census (December - January)</li>
                                <li>Wildlife census (May)

                                </li>
                                <li>Bhongrya Bajar during holi (March)</li>
                                <li>Bird watching near suki dam area</li>
                                <li>Environmental awareness</li>

                            </ul>


                            <h4 class="sub-heading">Does & Don't</h4>
                            <ul style="list-style:decimal">
                                <li>Blend your clothes with nature</li>
                                <li>Stay Calm</li>
                                <li>No Feeding Animals</li>
                                <li>Refrain from Littering</li>
                                <li>Don't blow horn & no loud talks </li>
                                <li>Keep mobile switched off or on silent mode</li>
                                <li>Do not agitate animal by throwing stones at them or doing antics to attract them</li>
                                <li>No entry before sunrise & after sunset</li>
                                <li>Avoid plastic</li>
                                <li>No photography</li>
                            </ul>  

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>
<!-- About and Important links End-->

<script>
    wow = new WOW(
    {
    animateClass: 'animated',
    offset:       100,
    callback:     function(box) {
    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
    }
    }
    );
    wow.init();
</script>
<script language="javascript">
    $(document).ready(function() {
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").hide();
    $("#m1_click").click(function(){
    $("#m1_click").addClass("active");
    $("#m2_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");		
    $("#bhandardara").fadeIn();
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();

    });

    $("#m2_click").click(function(){
    $("#m2_click").addClass("active");
    $("#m1_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#shende").fadeIn();
    $("#bhandardara, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
    });

    $("#m3_click").click(function(){
    $("#m3_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#kalsubai").fadeIn();	
    $("#bhandardara, #shende, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	

    });

    $("#m4_click").click(function(){
    $("#m4_click").addClass("active");
    $("#m2_click, #m1_click, #m3_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#harishchandragad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m5_click").click(function(){
    $("#m5_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#vilson").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m6_click").click(function(){
    $("#m6_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m5_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#randha").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m7_click").click(function(){
    $("#m7_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m5_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");	
    $("#ratanwadi").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();			
    });

    $("#m8_click").click(function(){
    $("#m8_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ghatghar").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m9_click").click(function(){
    $("#m9_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m8_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ratangad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m10_click").click(function(){
    $("#m10_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m8_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#aajobagad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #sandan, #alanggad, #kulang").fadeOut();					
    });

    $("#m11_click").click(function(){
    $("#m11_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m8_click, #m12_click, #m13_click").removeClass("active");

    $("#sandan").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #alanggad, #kulang").fadeOut();				
    });

    $("#m12_click").click(function(){
    $("#m12_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m8_click, #m13_click").removeClass("active");
    $("#alanggad").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #kulang").fadeOut();				
    });

    $("#m13_click").click(function(){
    $("#m13_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m8_click").removeClass("active");
    $("#kulang").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad").fadeOut();				
    });

    });
</script>