        
<!-- Title Image-->
<section>
    <div class="container-fluid eco-tourism">
        <div class="container">
            <h1 class="page-title">अनेरबांध वन्यजीव अभयारण्य</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

<!-- About and Important links-->
<section class="testimonials">
    <div class="container font-marathi">
        <div class="row">
            <div class="col-md-4 margin-topBot10">
                <div class="important-link">
                    <div class="clearfix"></div>
                    <ul class="sidebar-menu">
                        <li id="m1_click" class="active"><a href="javascript:void(0);">इतिहास </a></li>
                        <li id="m2_click"><a href="javascript:void(0);">स्थान</a></li>
                        <li id="m3_click"><a href="javascript:void(0);">स्थलांतर </a></li>
                        <li id="m4_click"><a href="javascript:void(0);">भूशास्त्र</a></li>
                        <li id="m5_click"><a href="javascript:void(0);">हवामान</a></li>
                        <li id="m6_click"><a href="javascript:void(0);"> दृष्टीकोन आणि प्रवेश   </a></li>
                        <li id="m7_click"><a href="javascript:void(0);">महत्त्व</a></li>
                        <li id="m8_click"><a href="javascript:void(0);">इको-पर्यटन </a></li>
                        <li id="m9_click"><a href="javascript:void(0);">मंदिर पर्यटन </a></li>
                        <li id="m10_click"><a href="javascript:void(0);">अभ्यागत माहिती </a></li>
                        <li id="m11_click"><a href="javascript:void(0);">अडकणे </a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>पुढील कार्यक्रम</h2>

                    <div><%= image_tag("events.png", style: 'width:100%') %></div>
                </div>
            </div>
            <div class="col-md-8 about-text">
                <div id="bhandardara">
                    <h3 class="page-header-inner">इतिहास </h3>
                    <div class="row">


                        <div class="col-md-12">
                            <p>अनेर वन्यजीवन अभयारण्य महाराष्ट्र शासनाच्या स्थापनेनंतर 10 ऑक्टोबर 1986 रोजी राजपत्रा अधिसूचना अस्तित्वात आले. अभयारण्य बांधण्यात आलेला क्षेत्र 82.9 4 चौ.किमी इतका आहे ज्यामध्ये सुपल व हिस्सारंचे 14 विभाग आहेत. या भागात एक महसूल गाव आहे ज्यात महादेव दोंडवाडा आणि सहा बंदरे आहेत. या भागातील आदिवासी लोकसंख्या प्रामुख्याने आहे. हे लोक त्यांच्या गरजेनुसार पूर्णपणे जंगलावर अवलंबून आहेत. </p>
                            <p>या मार्गावरील वन्यजीवांची उंची 17 व्या शतकापर्यंत खान्हेश गॅझेटियरमध्ये नमूद करण्यात आली आहे. डोंगराळ प्रदेश जंगली हत्तींसाठी महान प्रजनन ठिकाण आहे परंतु 18 व्या शतकात मोघल विजय मिळविलेल्या प्रक्षेत्रावर त्यांचे शासन होते. 19व्या शतकाच्या शेर आणि बिबट्यांच्या प्रांगणात मोठ्या संख्येने उपस्थित होते परंतु नंतर संख्या कमी झाली. </p>

                        </div>




                    </div>
                </div>

                <div id="shende">
                    <h3 class="page-header-inner">स्थान</h3>
                    <div class="row">

                        <div class="col-md-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29733.45405083257!2d75.11150867437897!3d21.323587799752506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd8d085e8223c71%3A0x545e0a12a1f465b!2sAner+Dam%2C+Malapur%2C+Maharashtra+425405!5e0!3m2!1sen!2sin!4v1506878648303" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        <div class="col-md-12">
                            <p>धुळे जिल्ह्यातील शिरपूर तालुक्यात महाराष्ट्र राज्यातील मुंबई-आग्रा महामार्ग क्र .3 जवळ स्थित आहे.अभयारण्य 74o 58 '30 " ते 75o 9' ई रेखांशा आणि 21o 18' 30" ते 21o 25' एन अक्षांश दरम्यान प्रदीर्घ आहे.</p>


                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="kalsubai">
                    <h3 class="page-header-inner"> स्थलांतर </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>अनेर वन्यजीवन अभयारण्य सातपुडा पर्वत रांगेत असून पूर्वेकडून पश्चिमेकडे आहे. महादेव दोंडवाडा रस्त्याच्या दोन्ही बाजूस लोखंडी टेकडीचा समावेश आहे आणि हे क्षेत्र सौम्य ढलानांच्या साहाय्याने परिसर आहे. सरासरी उंची MSL पेक्षा 200 M & 500 M वरून बदलते. मुख्यतः आमेर नदी अभयारण्याच्या पूर्वेकडील बाजूस ट्रॅक प्रवाह वाहून नेतील. डोंगराच्या माथ्यादरम्यान लहान टेकड्या, अदम्य मैदान, सपाट भागातील पॅचेस,</p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="harishchandragad">
                    <h3 class="page-header-inner">भूशास्त्र </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>सातपुडा प्रमुख बासललीक प्रवाहाने व्यापलेला आहे, सामान्यतः डेक्कन ट्रॅप्स म्हणून ओळखला जातो. प्रमुख प्रवाहांच्या दोन्ही बाजुस ज्यातून पिकवण्याची पट्टी कोसळली जाते. </p>


                        </div>



                    </div>
                </div>


                <div id="vilson">
                    <h3 class="page-header-inner"> हवामान </h3>
                    <div class="row">

                        <div class="col-md-12">

                            <p>खालील प्रमाणे 3 ठराविक हंगाम आहेत - पावसाळा जुलै ते ऑक्टोबर, हिवाळा नोव्हेंबर ते फेब्रुवारी, उन्हाळा मार्च ते मे. </p>

                        </div>










                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="randha">
                    <h3 class="page-header-inner"> दृष्टीकोन आणि प्रवेश </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p> शिरपुर आणि चोपडा, तहसील मुख्यालय आणि धुळे जिल्हा मुख्यालयातील रस्त्याने अनेरधरण अभयारण्य सर्व हवामानात सहज सुलभ आहे. शिरपूर सर्वात जवळचे शहर आहे जेथे फोन, इंधन, हॉटेल्स, वैद्यकीय आणि बँकिंग सुविधा उपलब्ध आहेत. </p>

                        </div>



                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ratanwadi">
                    <h3 class="page-header-inner">महत्त्व </h3>
                    <div class="row">


                        <div class="col-md-12">

                            <p>अनेर अभयारण्य कोरडी पानझडी जंगले आहे. हे क्षेत्र महत्वाचे आहे कारण ते राष्ट्रीय महामार्ग क्र .3 आणि अनेर नदी दरम्यान आहे. अभयारण्य वनस्पती आणि प्राणिजात समृद्ध आहे आणि चिंकाराचे एक महत्त्वाचे गृहस्थ आहे. अनेरधरण अभयारण्य एक भाग, मध्यम जलसिंचन प्रकल्प हे मनोरंजक ठिकाण आहे. शिरपूरमध्ये धार्मिक महत्व श्री. बालाजीचे मंदिर आहे, हजारो यात्रेकरू मंदिरात वर्षभर भेट देतात. धुळे जिल्ह्यातील हे फक्त अभयारण्य आहे जे लोकांना इको टुरिझम देतात.</p>
                            <p>सातपुडा रांगांमध्ये पेंच राष्ट्रीय उद्यान, मेळघाट वाघ राखीव, यावल वन्यजीव अभ्यारण्य, अनेरबांध अभयारण्य यासारख्या संरक्षित क्षेत्रांची संख्या आहे आणि हे मार्ग अतिशय वेगाने वाहतूक आणि जीन्सचे आदान-प्रदानासाठी फार महत्वाचे आहे. म्हणून अनेडडम वन्यजीव अभ्यारण्य हे या संरक्षित क्षेत्राच्या नेटवर्कचे एक महत्त्वाचे लिंक बनते. उपखंडाच्या क्षेत्राचे संवर्धन आणि योग्य व्यवस्थापन एक आदर्श जैविक क्षेत्राचा राखीव निर्मिती करू शकते. </p>
                            <p>मेघघाट - यावल अभयारण्य - प्रस्तावित वाघ कॉरिडॉर, एमएपी आणि खासकरुन बाघांच्या वाहतूकसाठी एम.ए.ए. आणि खासदारांमध्ये पेंच बाघ राखीव परिसरातील सातपुडा वाघ राखीव जंगलांशी जोडणारा असादरम अभयारण्य. </p>
                        </div>







                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ghatghar">
                    <h3 class="page-header-inner"> जैवविविधता</h3>
                    <div class="row">

                        <div class="col-md-12">
                            <h4 class="sub-heading">वनस्पती </h4>
                            <p>अनेरबांध अभयारण्य डैकन द्वीपकल्प शास्त्रीय प्रांत 6 ए मध्ये वर्गीकृत आहे. अभयारण्यातील जंगलामध्ये दक्षिण उष्णकटिबंधीय शुष्क पेन्सिड्यूर फॉरेस्ट आहे ज्यामध्ये भारतातील वन प्रकारचे वर्गीकरण 1 9 63 आहे. शेक, अंजन, ढावडा, भुबळ इत्यादी झाडांबरोबर बांबू, झुडूप, वनस्पती, गवत, पर्वतरांग, परजीवी जंगल मध्ये आढळतात.</p>

                            <h4 class="sub-heading">सस्तन प्राणी  </h4>
                            <p>अभयारण्यमध्ये चिंकारा, लांडगा, हाइना, बार्किंग हिरण, कोल्हा, मुंगुस, साळस, ससा, खारट, जंगली मांजर इत्यादी अनेक मोठ्या आणि लहान वन्यजीव दिसतात.</p>

                            <h4 class="sub-heading">सरपटणारे प्राणी   </h4>
                            <p> सरडा, अजगर, पिसुरडा, सामान्य बाग पालवी, सामान्य मॉनिटर छिपकळ, क्रेट, सामान्य घूस साप, सांप वगैरे</p>

                            <h4 class="sub-heading">पक्षी   </h4>
                            <p>मोर, करकोचा, गोडावण, कबूतर, पाणकावळा, सुतारपक्षी, टिटवी, कोतवाल, धनेश, घार etc.</p>


                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>   
                <div id="ratangad">
                    <h3 class="page-header-inner"> इको-पर्यटन </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:decimal">
                                <li>चिरंजीव व्हॅन</li>
                                <li>आनेर धरण पाणलोट क्षेत्र</li>
                                <li>निसर्ग पायरी</li>
                                <li>कांद्रागढ पुरातन दगड लेणी</li>
                            </ul>




                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="aajobagad">
                    <h3 class="page-header-inner"> अभ्यागत माहिती  </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:decimal">
                                <li>स्थान - महाराष्ट्रातील धुळे जिल्ह्यातील शिरपूर तालुका </li>
                                <li>कसे - रस्त्यावरून - शिरपूर (10 किमी), धुळे (70 किमी)
                                    <ul>
                                        <li>रेल्वेद्वारे - जवळचे स्थान म्हणजे नर्डोना (28 किमी)</li>
                                        <li>हवाई द्वारे - औरंगाबाद येथे भारतातील देशांतर्गत सेवांची उड्डाणे नियमितपणे उपलब्ध आहेत.</li>
                                    </ul>
                                </li>
                                <li>कधी - अभयारण्य भेट सर्वोत्तम हंगाम सप्टेंबर ते फेब्रुवारी आहे</li>
                                <li>निवास - शिरपूर येथे पीडब्ल्यूडीचे विश्रांतिस्थान आहे आणि रोहिणी येथे वन विश्रांतीगृह</li>
                                <li>जवळील पर्यटन स्थळ - बालाजी मंदिर, शिरपुरमधील खंडेराव मंदिर</li>
                                    <ul>
                                        <li>अनेरबांध</li>
                                        <li>शिरपूर शहर पार्क</li>
                                    </ul>
                                </li>
                            </ul>




                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>  

                <div id="sandan">
                    <h3 class="page-header-inner"> अडकणे   </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:decimal">
                                <li>पक्षी जनगणना (डिसेंबर - जानेवारी)</li>
                                <li>वन्यजीव जनगणना (मे)

                                </li>
                                <li>पक्षी निरीक्षण अनेरबांध पाणलोट क्षेत्र जवळ</li>
                                <li>पर्यावरण जागरूकता</li>

                            </ul>


                            <h4 class="sub-heading">करा आणि करू नका</h4>
                            <ul style="list-style:decimal">
                                <li>आपले कपडे निसर्गात मिसळा</li>
                                <li>शांत राहणे</li>
                                <li>प्राण्याना आहार देने नाही</li>
                                <li>कचर्यापासून दूर राहा</li>
                                <li>हॉर्न वाजवू नका आणि मोठ्याने बोलू नका </li>
                                <li>मोबाईल बंद किंवा मूक मोडवर ठेवा</li>
                                <li>प्राण्यांना दगड फेकून उत्तेजित करू नका किंवा त्यांना आकर्षित करण्यासाठी प्राणघातक होऊ नका</li>
                                <li>सूर्योदय होण्याच्या आधी आणि सूर्यास्ताच्या वेळेस प्रवेश नाही</li>
                                <li>प्लास्टिक टाळा</li>
                            </ul>  

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 02424 / 257013</a>
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>
<!-- About and Important links End-->

<script>
    wow = new WOW(
    {
    animateClass: 'animated',
    offset:       100,
    callback:     function(box) {
    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
    }
    }
    );
    wow.init();
</script>
<script language="javascript">
    $(document).ready(function() {
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").hide();
    $("#m1_click").click(function(){
    $("#m1_click").addClass("active");
    $("#m2_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");		
    $("#bhandardara").fadeIn();
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();

    });

    $("#m2_click").click(function(){
    $("#m2_click").addClass("active");
    $("#m1_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#shende").fadeIn();
    $("#bhandardara, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
    });

    $("#m3_click").click(function(){
    $("#m3_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#kalsubai").fadeIn();	
    $("#bhandardara, #shende, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	

    });

    $("#m4_click").click(function(){
    $("#m4_click").addClass("active");
    $("#m2_click, #m1_click, #m3_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#harishchandragad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m5_click").click(function(){
    $("#m5_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#vilson").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m6_click").click(function(){
    $("#m6_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m5_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#randha").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m7_click").click(function(){
    $("#m7_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m5_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");	
    $("#ratanwadi").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();			
    });

    $("#m8_click").click(function(){
    $("#m8_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ghatghar").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m9_click").click(function(){
    $("#m9_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m8_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ratangad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m10_click").click(function(){
    $("#m10_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m8_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#aajobagad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #sandan, #alanggad, #kulang").fadeOut();					
    });

    $("#m11_click").click(function(){
    $("#m11_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m8_click, #m12_click, #m13_click").removeClass("active");

    $("#sandan").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #alanggad, #kulang").fadeOut();				
    });

    $("#m12_click").click(function(){
    $("#m12_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m8_click, #m13_click").removeClass("active");
    $("#alanggad").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #kulang").fadeOut();				
    });

    $("#m13_click").click(function(){
    $("#m13_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m8_click").removeClass("active");
    $("#kulang").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad").fadeOut();				
    });

    });


</script>