<!-- Title Image-->
<section>
	<div class="container-fluid">
    	<div class="container">
        	<h1 class=" head"> प्रवेशयोग्यता विधान </h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

 <!-- About and Important links-->
 <section class="testimonials">
 <div class="container">
 	<div class="row">
    	<div class="col-md-8">
        <p>सामाजिक न्याय वेबसाइट मंत्रालयामध्ये अंतर्भूत असलेल्या सुविधा खालीलप्रमाणे आहेत:</p>
        	<ul>
            	<li><strong>मुख्य पानावर जा:</strong> पृष्ठावर कोर सामग्रीवर त्वरित प्रवेश कीबोर्ड द्वारे पुनरावृत्ती नेव्हिगेशन न देता दिला जातो.</li>
                <li><strong>चिन्हे:</strong> शिकण्याच्या अपंगांसह वापरकर्त्यांना सहजपणे माहिती समजण्यासाठी सक्षम करण्यासाठी चिन्हांसह मजकूर पूरक केला गेला आहे. महत्वाच्या नेव्हिगेशन पर्यायांसाठी तसेच महत्त्वाच्या वैशिष्ट्यांसाठी मजकूर लेबलसह चिन्ह उपलब्ध केले गेले आहेत जसे प्रिंट, इमेल इत्यादी.</li>
                <li><strong>ड्रॉप-डाउन मेनूसाठी कीबोर्ड समर्थन:</strong> ड्रॉप-डाउन मेनू शीर्षस्थानी नेव्हिगेशन पर्याय प्रदर्शित आणि / विस्तार / संकुचित यादी वेबसाइटवर डाव्या नेव्हिगेशन पर्याय प्रदर्शित करण्यासाठी वापरले गेले आहे वापरले गेले आहे. हालचाली आणि व्हिज्युअल अपंग असलेल्या वापरकर्त्यांना कीबोर्ड प्रवेश प्रदान करण्यात आला आहे नेव्हिगेशन पर्यायांमध्ये प्रवेश. कळफलक उपयोजक खालील सुचालन व बाहेरील नेव्हिगेशन पर्यायांना खालील प्रकारे प्रवेश करू शकतातः
                
                	<ul>
                    	<li><strong>ड्रॉप-डाउन मेनू: </strong>ड्रॉप-डाउन मेनू पर्यायांवर नेव्हिगेट करण्यासाठी टॅब की दाबा, जसे की आमच्या विषयी, मंत्री भेटा. ड्रॉप-डाउन मेनू पर्याय लपविण्यासाठी / लपवा दाबा आणि त्या टॅब दाबा Tab की सोबत, स्क्रीन वाचक वापरकर्ता बाण की वापरुन ड्रॉप-डाउन मेनू पर्यायांमध्ये प्रवेश करू शकतो. पुढे आवश्यक पर्याय सक्रिय करण्यासाठी Enter की दाबा</li>
                        <li><strong>सूची विस्तृत / संकलित करा:</strong> डाव्या नेव्हिगेशन पर्यायांमध्ये नेव्हिगेट करण्यासाठी टॅब की दाबा, जसे शेड्यूल कॅस्ट कल्याण, मागासवर्गीय वर्गाचे कल्याण इत्यादी. सूची उघडण्यासाठी / बंद करण्यासाठी Enter दाबा आणि टॅब किंवा एरो की वापरून एकतर विस्तारीत सूचीवर प्रवेश करा. पुढे आवश्यक पर्याय सक्रिय करण्यासाठी Enter की दाबा.</li>
                    </ul>
                </li>
                <li><strong>प्रवेशयोग्यता पर्याय:</strong> मजकूर आकार बदलण्यासाठी पर्याय, एक रंगसंगती सेट करा आणि मजकूर अंतराची वाढवा प्रदान करा.</li>
                <li><strong>वर्णनात्मक दुवा मजकूर:</strong> लिंकचे संक्षिप्त वर्णन जसे की 'अधिक वाचा' आणि 'येथे क्लिक करा' दुवा मजकूर म्हणून शब्दांच्या ऐवजी वर्णनात्मक वाक्यांच्या वापराने प्रदान केले आहे. पुढे, जर एखाद्या लिंकने नवीन विंडोमध्ये वेबसाइट उघडली तर वर्णन हेच ​​निर्दिष्ट करते.</li>
                <li><strong>फाइल प्रकार आणि फाईल आकाराची ओळख:</strong> पीडीएफ, वर्ड, एक्सेल आणि फाईलचा आकार यासारख्या पर्यायी फाईल प्रकारांबद्दलची माहिती लिंक टेक्स्टमध्ये प्रदान करण्यात आली आहे ज्यामुळे वापरकर्ते तीच ओळखू शकतात. या व्यतिरिक्त, विविध फाईल प्रकारांसाठी चिन्ह दुवे प्रदान केले आहेत. वापरकर्त्यांना ते दुवा ऍक्सेस करण्याची इच्छा आहे काय हे ठरविण्यास मदत करते. उदाहरणार्थ, जर एखादी लिंक पीडीएफ फाइल उघडेल, तर दुवा मजकूर तिच्या फाईलचा आकार आणि फाईल प्रकार निर्दिष्ट करेल.</li>
                <li><strong>सारणी शीर्षलेख:</strong> सारणीचे शीर्षलेख प्रत्येक ओळच्या त्यांच्या संबंधित सेलशी निगडीत आणि संबंधित आहेत. यामुळे वापरकर्त्यासाठी कोणत्याही सेलची स्तंभ आणि पंक्ति शीर्षलेख वाचण्यासाठी स्क्रीन रीडर सक्षम होते.</li>
                <li><strong>सारणी मथळा आणि सारांश:</strong> सारणी मथळे निर्दिष्ट केले आहेत जे लेबले म्हणून कार्य करतात, जे दर्शविते की टेबलमध्ये कोणते डेटा प्रदान केला आहे. याव्यतिरिक्त स्क्रीनवरील वाचक वापरकर्त्यांना ते सहजपणे टेबल माहिती समजण्यास सक्षम करण्यासाठी वर्णन प्रदान करण्यासाठी निर्दिष्ट केले आहे.</li>
                <li><strong>शीर्षलेख:</strong> वेब पृष्ठ सामग्री योग्य शीर्षके आणि उपशीर्षके वापरून वाचनीय रचना प्रदान करते. एच 1 मुख्य शीर्षक दर्शवितो, तर H2 उपशीर्ष दर्शवितो. याव्यतिरिक्त, पठनीयता सुधारण्यासाठी योग्य शीर्षके प्रदान करण्यात आली आहेत. उदाहरणार्थ, डाव्या नेव्हिगेशन उपखंडांना सूचना बद्दलचे शीर्षक देण्यात आले आहे.</li>
                <li><strong>शिर्षक:</strong> प्रत्येक वेब पृष्ठासाठी योग्य नाव निर्दिष्ट केलेली आहे जी आपल्याला सहजपणे पृष्ठ सामग्री समजण्यास मदत करते.</li>
                <li><strong>वैकल्पिक मजकूर:</strong>व्हिज्युअल डिसॅबिलिटी असलेल्या वापरकर्त्यांसाठी एका इमेजचे संक्षिप्त वर्णन प्रदान केले आहे. आपण केवळ अशा मजकुराचे ब्राऊझर वापरत असाल ज्यात केवळ मजकूर पाठवला आहे किंवा प्रतिमा प्रदर्शन बंद केला असेल, तर आपण प्रतिमेच्या अनुपस्थितीत पर्यायी मजकूर वाचून प्रतिमा किती असेल हे आपल्याला माहिती असेल. याव्यतिरिक्त, काही ब्राउझर उपयोजनाला टूलटिप स्वरूपात प्रदर्शित करतात जेव्हा वापरकर्ता प्रतिमा वरील माऊस पॉइंटर हलवितो.</li>
                <li><strong>स्पष्ट फॉर्म लेबल असोसिएशन:</strong> एक लेबल त्याच्या संबंधित नियंत्रणाशी जोडला जातो, जसे मजकूर बॉक्स, चेकबॉक्स, रेडिओ बटण आणि ड्रॉप-डाउन सूची. यामुळे सहाय्यक उपकरणे एका फॉर्मवरील नियंत्रणासाठी लेबले ओळखण्यास सक्षम करतात.</li>
                <li><strong>सातत्यपूर्ण नेव्हिगेशन यंत्रणा:</strong> संपूर्ण संकेतस्थळावरील नॅव्हिगेशन आणि सादरीकरणाचे शैली समाविष्ट केली गेली आहे.</li>
                <li><strong>कीबोर्ड समर्थन:</strong> टॅब आणि शिफ्ट + टॅब की दाबून कळफलक वापरून वेबसाइट ब्राउज करता येईल.</li>
                <li><strong>सानुकूलित मजकूर आकार:</strong> वेब पेजवरील मजकूराचा आकार ऍक्सेसिबिलिटी पर्याय पृष्ठाद्वारे किंवा प्रत्येक पृष्ठाच्या शीर्षस्थानी असलेल्या मजकूर आकाराच्या चिन्हांवर क्लिक करून ब्राउझरद्वारे बदलता येऊ शकतो.</li>
                <li><strong>कॉन्ट्रास्ट स्कीम समायोजित करा:</strong> वेबसाइट सहजतेने वेब पृष्ठ माहिती पाहण्यासारख्या कमी दृष्टी आणि रंगबिंदूसारख्या व्हिज्युअल असमाधानांसह सक्षम करण्यासाठी विविध योजना प्रदान करते विविध भिन्नता योजनांमध्ये स्टँडर्ड, यलो ऑन ब्लॅक, यलो ऑन ब्लू आणि फ्यूशिया ऑन ब्लॅकचा समावेश आहे.</li>
                <li><strong>मजकूर अंतर वाढवा:</strong> ऍक्सेसिबिलिटी पर्याय पृष्ठ शब्दांमध्ये पांढर्या जागेत वाढ करण्याच्या पर्यायासह प्रदान करते. व्हाइट स्पेस दोन पातळीपर्यंत वाढवता येऊ शकते. हा पर्याय वापरकर्त्यांसाठी दृश्यमान आणि शिकण्यातील अपात्रता असणा-यांसाठी उपयुक्त आहे ज्यांना माहिती वाचण्यास अवघड वाटते ज्या शब्दांमधील लहान पांढर्या जागा वापरून प्रस्तुत केले जाते.</li>
                <li><strong>समक्रमित मथळे:</strong> ऐकण्याच्या अक्षमतेसह वापरकर्त्यांना सक्षम करण्यासाठी मथळे जोडले गेले आहेत ऑडिओ / व्हिडिओ सामग्री प्रभावीपणे प्रवेश करतात</li>
                <li><strong>मोठे मुद्रण: </strong>वेब पेजेसमध्ये मोठे प्रिंट पर्याय समाविष्ट आहेत जे कमी दृष्टिकोणातून आणि ज्येष्ठ नागरिकांना मोठ्या फाँट साईझसह वेब पृष्ठ प्रिंट करण्यास मदत करते.</li>
            </ul>
           
      
        
         
        </div>
        <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
                          <h2>महत्वाचे दुवे</h2>
                          <ul>
                              <li><a href="#">४ कोटी वृक्षारोपण माहिती</a></li>
                              <li><a href="#">वन विश्राम गृह / लॉजिंग / सफारीसाठी ऑनलाइन बुकिंग</a></li>
                              <li><a href="#">जैव विविधता</a></li>
                              <li><a href="#">महाराष्ट्र वन विकास महामंडळ</a></li>
                              <li><a href="#">इंटरनेट</a></li>
                              <li><a href="#">RTS सेवा</a></li>
                              <li><a href="#">DIPP सेवा</a></li>
                              <li><a href="#">हिरव्या सैन्य</a></li>
                              <li><a href="#">महाराष्ट्र सरकार</a></li>
                              <li><a href="#">महाराष्ट्र कृषी विभाग</a></li>
                              <li><a href="#">महाराष्ट्र बातम्या</a></li>
                          </ul>
                      </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>पुढील कार्यक्रम</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%') %></div>
            </div>
        </div>
    </div>
 </div>
  </section>
 <!-- About and Important links End-->

 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>