<!-- Title Image-->
<section>
	<div class="container-fluid">
    	<div class="container">
        	<h1 class=" head"> हक्क धोरण </h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

 <!-- About and Important links-->
 <section class="testimonials">
 <div class="container">
 	<div class="row">
    	<div class="col-md-8 about-text">
        
        	<p>या संकेतस्थळाच्या या सामग्रीची अंशतः किंवा पूर्णतः पुनर्निर्मित केली जाऊ शकत नाही. जर दुसर्या प्रकाशनाचा एक भाग म्हणून संदर्भ दिला असेल, तर स्त्रोत योग्यरित्या मान्य केला पाहिजे. या वेबसाइटची सामग्री कोणत्याही दिशाभूल करणार्या किंवा आक्षेपार्ह संदर्भात वापरली जाऊ शकत नाही.</p>
           
      
        
         
        </div>
          <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
                          <h2>महत्वाचे दुवे</h2>
                          <ul>
                              <li><a href="#">४ कोटी वृक्षारोपण माहिती</a></li>
                              <li><a href="#">वन विश्राम गृह / लॉजिंग / सफारीसाठी ऑनलाइन बुकिंग</a></li>
                              <li><a href="#">जैव विविधता</a></li>
                              <li><a href="#">महाराष्ट्र वन विकास महामंडळ</a></li>
                              <li><a href="#">इंटरनेट</a></li>
                              <li><a href="#">RTS सेवा</a></li>
                              <li><a href="#">DIPP सेवा</a></li>
                              <li><a href="#">हिरव्या सैन्य</a></li>
                              <li><a href="#">महाराष्ट्र सरकार</a></li>
                              <li><a href="#">महाराष्ट्र कृषी विभाग</a></li>
                              <li><a href="#">महाराष्ट्र बातम्या</a></li>
                          </ul>
                      </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>पुढील कार्यक्रम</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%') %></div>
            </div>
        </div>
    </div>
 </div>
  </section>
 <!-- About and Important links End-->
 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>