<!-- Title Image-->
<section>
    <div class="container-fluid contact-us-title">
        <div class="container">
            <h1 class="page-title">आमच्याशी संपर्क साधा</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

<!-- About and Important links-->
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-8 about-text">
                <br />
                <h4>मुख्य कार्यालय</h4>
                <br />
                <ul class="contact-info">
                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> वन संरक्षक (वन्यजीव) नाशिक.<br />अरन्या संकुल त्रिंबक नाका, जुने आग्रा रोड, नाशिक - 422 002</li>
                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                </ul>
                <br />
                <h4>वन्यजीवन अभयारण्य </h4>
                <br />
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    वन्यजीव अभियंता (वन्यजीव) <strong>नंदुर माधमेश्वर अभयारण्य</strong> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> वन संरक्षक (वन्यजीव) नाशिक.<br />अरन्या संकुल त्रिंबक नाका, जुने आग्रा रोड, नाशिक - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    वन्यजीव अभियंता (वन्यजीव)<strong> कळसूबाई हरीचंद्रा गड अभयारण्य</strong> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> वन संरक्षक (वन्यजीव) नाशिक.<br />अरन्या संकुल त्रिंबक नाका, जुने आग्रा रोड, नाशिक - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    वन्यजीव अभियंता (वन्यजीव) <strong>यवल अभयारण्य </strong>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> वन संरक्षक (वन्यजीव) नाशिक.<br />अरन्या संकुल त्रिंबक नाका, जुने आग्रा रोड, नाशिक - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    वन्यजीव अभियंता (वन्यजीव) <strong>अनिरबांध अभयारण्य</strong> 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <ul class="contact-info">
                                    <li> <i class="fa fa-map-marker" aria-hidden="true"></i> वन संरक्षक (वन्यजीव) नाशिक.<br />अरन्या संकुल त्रिंबक नाका, जुने आग्रा रोड, नाशिक - 422 002</li>
                                    <li> <i class="fa fa-phone-square" aria-hidden="true"></i> 0253 - 2505114-15</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:cfwlnashik@mahaforest.gov.in">cfwlnashik@mahaforest.gov.in</a> <br /><a href="mailto:cfwlnashik2@yahoo.com">cfwlnashik2@yahoo.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 margin-topBot10">
                <div class="important-link col-md-12">
                    <h2>महत्वाचे दुवे</h2>
                    <ul>
                        <li><a href="#">4 कोटी वृक्षारोपण माहिती</a></li>
                        <li><a href="#">वन विश्राम गृह / लॉजिंग / सफारीसाठी ऑनलाइन बुकिंग</a></li>
                        <li><a href="#">जैव विविधता</a></li>
                        <li><a href="#">महाराष्ट्र वन विकास महामंडळ</a></li>
                        <li><a href="#">इंटरनेट</a></li>
                        <li><a href="#">RTS सेवा</a></li>
                        <li><a href="#">DIPP सेवा</a></li>
                        <li><a href="#">हिरव्या सैन्य</a></li>
                        <li><a href="#">महाराष्ट्र सरकार</a></li>
                        <li><a href="#">महाराष्ट्र कृषी विभाग</a></li>
                        <li><a href="#">महाराष्ट्र बातम्या</a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>पुढील कार्यक्रम</h2>

                    <div><img src="/assets/events.png" width="100%" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About and Important links End-->

<script type="text/javascript">
  $('.navbar-right li.active').removeClass('active');
  $("li.contact_tab").addClass('active'); 
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();  
</script>
