<!-- Title Image-->
<section>
	<div class="container-fluid">
    	<div class="container">
        	<h1 class=" head">Privacy Policy </h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

 <!-- About and Important links-->
 <section class="testimonials">
 <div class="container">
 	<div class="row">
    	<div class="col-md-8 about-text">
        
        	<p>आम्ही आपल्याला प्रतिसाद देण्याव्यतिरिक्त कोणत्याही हेतूसाठी वैयक्तिक माहिती एकत्रित करीत नाही (उदाहरणार्थ, आपल्या प्रश्नांना प्रतिसाद देण्यासाठी) जर आपण ई-मेल पत्त्यासह किंवा पोस्टल पत्त्यासह आमच्याशी संपर्क साधा जसे फॉर्म भरणे किंवा वेबसाईटद्वारे आम्हाला सादर करणे यासारखी वैयक्तिक माहिती पुरविण्याचे ठरविल्यास, आम्ही ती माहिती आपल्या संदेशाला प्रतिसाद देण्यास आणि आपल्याला मदत करण्यासाठी वापरतो आपण विनंती केलेली माहिती.</p><p>

आमची वेबसाइट कधीही माहिती एकत्रित करत नाही किंवा व्यावसायिक विपणनासाठी वैयक्तिक प्रोफाइल तयार करत नाही. आपण कोणत्याही येणाऱ्या प्रश्नांना किंवा टिप्पण्यांना स्थानिकीकरण केलेल्या प्रतिसादासाठी ई-मेल पत्ता प्रदान करणे आवश्यक असताना, आम्ही शिफारस करतो की आपण कोणत्याही अन्य वैयक्तिक माहितीचा समावेश करू नका.
</p>
           
      
        
         
        </div>
        <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
                          <h2>महत्वाचे दुवे</h2>
                          <ul>
                              <li><a href="#">४ कोटी वृक्षारोपण माहिती</a></li>
                              <li><a href="#">वन विश्राम गृह / लॉजिंग / सफारीसाठी ऑनलाइन बुकिंग</a></li>
                              <li><a href="#">जैव विविधता</a></li>
                              <li><a href="#">महाराष्ट्र वन विकास महामंडळ</a></li>
                              <li><a href="#">इंटरनेट</a></li>
                              <li><a href="#">RTS सेवा</a></li>
                              <li><a href="#">DIPP सेवा</a></li>
                              <li><a href="#">हिरव्या सैन्य</a></li>
                              <li><a href="#">महाराष्ट्र सरकार</a></li>
                              <li><a href="#">महाराष्ट्र कृषी विभाग</a></li>
                              <li><a href="#">महाराष्ट्र बातम्या</a></li>
                          </ul>
                      </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>पुढील कार्यक्रम</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%') %></div>
            </div>
        </div>
    </div>
 </div>
  </section>
 <!-- About and Important links End-->
 
 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>