<section>
	<div class="container-fluid">
    	<div class="container">
        	<h1 class=" head">अटी व शर्ती</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

 <!-- About and Important links-->
 <section class="testimonials">
 <div class="container">
 	<div class="row">
    	<div class="col-md-8 about-text">
        
        	<p>ही वेबसाइट नाशिक वन्यजीवाने तयार केली आहे, विकसित केली आहे आणि त्याची देखभाल केली आहे.</p><p>

या वेबसाइटवरील सामग्रीची अचूकता आणि चलन सुनिश्चित करण्यासाठी सर्व प्रयत्न केले गेले असले तरी समान कायद्याचे विधान म्हणून किंवा कोणत्याही कायदेशीर कारणांसाठी वापरले जाऊ नये. 
</p><p>
हे नियम व अटी भारतीय कायद्यांनुसार शासित आणि मांडल्या जातील. या अटी व शर्तींनुसार उद्भवणारे कोणतेही विवाद भारताच्या न्यायालयांच्या अधिकारक्षेत्रास अधीन असतील.</p><p>

या वेबसाइटवर पोस्ट केलेल्या माहितीमध्ये हायपरटेक्स्ट दुवे किंवा पॉइंटर अंतर्भूत आणि गैर-सरकारी / खाजगी संस्थांद्वारे तयार करण्यात येतील. राष्ट्रीय सूचना विज्ञान केंद्र आपल्या माहिती व सुविधेसाठी हे दुवे आणि पॉईंट्स पुरवित आहे. जेव्हा आपण एखाद्या बाहेरील वेबसाइटवर एक दुवा निवडता तेव्हा आपण 'भारतीय शासनाच्या संकेतस्थळांसाठी मार्गदर्शक तत्वे' साइट सोडत आहात आणि बाहेरील वेबसाइटच्या मालक / प्रायोजकांच्या गोपनीयता आणि सुरक्षा धोरणांच्या अधीन असतो. </p>
           
      
        
         
        </div>
        <div class="col-md-4 margin-topBot10">
        <div class="important-link col-md-12">
                          <h2>महत्वाचे दुवे</h2>
                          <ul>
                              <li><a href="#">४ कोटी वृक्षारोपण माहिती</a></li>
                              <li><a href="#">वन विश्राम गृह / लॉजिंग / सफारीसाठी ऑनलाइन बुकिंग</a></li>
                              <li><a href="#">जैव विविधता</a></li>
                              <li><a href="#">महाराष्ट्र वन विकास महामंडळ</a></li>
                              <li><a href="#">इंटरनेट</a></li>
                              <li><a href="#">RTS सेवा</a></li>
                              <li><a href="#">DIPP सेवा</a></li>
                              <li><a href="#">हिरव्या सैन्य</a></li>
                              <li><a href="#">महाराष्ट्र सरकार</a></li>
                              <li><a href="#">महाराष्ट्र कृषी विभाग</a></li>
                              <li><a href="#">महाराष्ट्र बातम्या</a></li>
                          </ul>
                      </div>
      <div class="important-link col-md-12 margin-topBot10">
            	<h2>पुढील कार्यक्रम</h2>
                
                <div><%= image_tag("events.png", style: 'width:100%') %></div>
            </div>
        </div>
    </div>
 </div>
  </section>
 <!-- About and Important links End-->

 <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
    wow.init();
	
    
  </script>