 <!-- Title Image-->       
<section>
    <div class="container-fluid eco-tourism">
        <div class="container">
            <h1 class="page-title">यावल वन्यजीव अभयारण्य</h1>
        </div>
    </div>
</section>
<!-- Title Image end-->

<!-- About and Important links-->
<section class="testimonials">
    <div class="container font-marathi">
        <div class="row">
            <div class="col-md-4 margin-topBot10">
                <div class="important-link">
                    <div class="clearfix"></div>
                    <ul class="sidebar-menu">
                        <li id="m1_click" class="active"><a href="javascript:void(0);">इतिहास </a></li>
                        <li id="m2_click"><a href="javascript:void(0);">स्थान</a></li>
                        <li id="m3_click"><a href="javascript:void(0);">स्थलांतर </a></li>
                        <li id="m4_click"><a href="javascript:void(0);">भूशास्त्र</a></li>
                        <li id="m5_click"><a href="javascript:void(0);">हवामान</a></li>
                        <li id="m6_click"><a href="javascript:void(0);"> दृष्टीकोन आणि प्रवेश   </a></li>
                        <li id="m7_click"><a href="javascript:void(0);">महत्त्व</a></li>
                        <li id="m8_click"><a href="javascript:void(0);">इको-पर्यटन </a></li>
                        <li id="m9_click"><a href="javascript:void(0);">मंदिर पर्यटन </a></li>
                        <li id="m10_click"><a href="javascript:void(0);">अभ्यागत माहिती </a></li>
                        <li id="m11_click"><a href="javascript:void(0);">अडकणे </a></li>
                    </ul>
                </div>
                <div class="important-link col-md-12 margin-topBot10">
                    <h2>पुढील कार्यक्रम</h2>

                    <div><%= image_tag("events.png", style: 'width:100%') %></div>
                </div>
            </div>
            <div class="col-md-8 about-text">
                <div id="bhandardara">
                    <h3 class="page-header-inner">इतिहास </h3>
                    <div class="row">


                        <div class="col-md-12">
                            <p>यावल वन्यजीवन अभयारण्य हे मध्य भारतातील वन्यजीवांसाठी एक उत्तम निवासस्थान आहे. महाराष्ट्र शासन, संकल्प, महसूल आणि वन विभाग दिनांक २१ जानेवारी १९६९ पासून अस्तित्वात आला. अभयारण्य बांधण्यात आलेला क्षेत्र १७२. ५७ चौरस कि.मी. असून पाल व जामन्या रांगेच्या ५८ कप्पे आहेत. गाद्राय, जामणी, उस्माली, गरबार्दी, लंगडा-अबा, साईबुपादा (निमद्या) अशी आदिवासींची लोकसंख्या मुख्यत्वे आहे. मुख्य जमाती म्हणजे तडवी, भिल्ल, पावरा. पाल नाव पल्लवी प्राचीन शासकांची कन्या आहे. शेती हे ग्रामीण जनतेचे जीवनमान आहे.</p>
                        </div>




                    </div>
                </div>

                <div id="shende">
                    <h3 class="page-header-inner">स्थान</h3>
                    <div class="row">

                        <div class="col-md-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1342187.2807855213!2d75.90485721726301!3d21.690930572081395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd85898cce4e177%3A0xcd0b56b6471c34e3!2sYawal+Wildlife+Sanctuary!5e0!3m2!1sen!2sin!4v1507131198630" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        <div class="col-md-12">
                            <p>महाराष्ट्र राज्यातील जळगाव जिल्ह्यात स्थित. पवित्र प्रतिमे ७५o ३३ 'ते ७०o ५४' ई रेखांशा आणि २१o १५ '२१o २४' एन अक्षांश दरम्यान पसरली आहे. अभयारण्य मध्यप्रदेश राज्यात असलेल्या सीमावर्ती पठारावर पसरलेले आहे. </p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="kalsubai">
                    <h3 class="page-header-inner"> स्थलांतर </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>यवत वन्यजीव अभयारण्य सातपुडा पर्वत रांगावर कॉम्पॅक्ट ब्लॉक किंवा आरक्षित वन मध्ये स्थित आहे. या पर्वत रांगा बहुतेक पूर्व-पश्चिम लांबीच्या आहेत आणि मोठ्या प्रमाणात क्रिस्नु-क्रॉस आणि स्ट्रिमलाइन्सच्या संख्येमुळे पार पडतात ज्यामुळे प्रदेशास संचार करणे अवघड होते. अनेर, मांजल, सुकी, मोर व भोकर हे नद्यांचे अभयारण्य निचरा व्यवस्थित करतात. खोदी चौथा रुंदीची आणि किनाऱ्यावरील खांब अतिशय उंचावर आहे. एमएसएलपेक्षा अक्षांश जास्त ४०० एम ते १०७४ एम पर्यंत बदलत आहेत.</p>

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>


                <div id="harishchandragad">
                    <h3 class="page-header-inner">भूशास्त्र </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>सातपुडा प्रमुखाने बेसल्टिक प्रवाहाने व्यापलेला आहे, सामान्यतः डेक्कन सापळे म्हणून ओळखले जाते. ज्वालामुखीय खडक इओसीन कालावधी कमी करण्यासाठी उच्च खडूसारखा च्या विष्ठा प्रकारचे विष्ठा उत्पादक मानले जातात.</p>


                        </div>



                    </div>
                </div>


                <div id="vilson">
                    <h3 class="page-header-inner"> हवामान </h3>
                    <div class="row">

                        <div class="col-md-12">

                            <p>अभयारण्य क्षेत्राच्या सामान्य हवामानावर लक्षणीय परिणाम पहाता पर्वत रेषेच्या अनुषंगाने केला जातो. विशिष्ट हंगाम लक्षात घेता येतात आणि ते जून ते ऑक्टोबरमध्ये हिवाळा, सर्दी  नोव्हेंबर ते फेब्रुवारी पर्यंत, उन्हाळा मार्च ते मे पर्यंत.</p>

                        </div>










                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="randha">
                    <h3 class="page-header-inner"> दृष्टीकोन आणि प्रवेश </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <p>पाल अभयारण्यला भेट देण्याचे महत्त्वपूर्ण प्रवेशद्वार आहे आणि भुसावळ आणि रावेर, तालुका मुख्यालय व जळगाव, जिल्हा मुख्यालयातील रस्त्याद्वारे सर्व शीख रस्त्यावर प्रवेश करतो. पाल येथे टेलिफोन व ग्रामीण आरोग्य केंद्राची सुविधा उपलब्ध आहे. टाऊनशिप रायव्हर आणि सावडा हे पालहून सुमारे २४ किमी आणि ३० किमी दूर आहेत जेथे इंधन, हॉटेल्स, रुग्णालये आणि वाहतूक इत्यादी उपलब्ध आहेत. </p>

                        </div>



                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ratanwadi">
                    <h3 class="page-header-inner">महत्त्व </h3>
                    <div class="row">


                        <div class="col-md-12">

                            <p>अभयारण्य वाघ, चित्ता, जंगली कुत्रा, काळवीट, कोल्हाळ, जंगली डुक्कर आणि पक्षी विविध प्रकारचे जंगली जनावरांना समर्थन देतात. फ्लाइंग गिलहरी आणि चिंकारा अभयारण्य परिसरात लुप्त होणारे प्रजाती अस्तित्वात आहेत. जळगाव जिल्ह्यात यावले हे वन्यजीव अभयारण्य आहे. सातपुडा रांगांमध्ये पंक राष्ट्रीय उद्यान, मेळघाट वाघ राखीव, यावल वन्यजीव अभ्यारण्य, अनेडॅम अभयारण्य यासारख्या संरक्षित क्षेत्रांची संख्या आहे आणि हे मार्ग अतिशय वेगाने वाहतूक आणि जीन्सचे आदान-प्रदानासाठी फार महत्वाचे आहे. म्हणून यावल वन्यजीव अभ्यारण्य हे या संरक्षित क्षेत्राच्या नेटवर्कचे एक महत्त्वाचे लिंक बनते. संपूर्ण क्षेत्राचे संवर्धन आणि योग्य व्यवस्थापन एक आदर्श जैविक क्षेत्राचा राखीव निर्मिती करू शकते. </p>
                            <p>मेघघाट - यावल अभयारण्य - प्रस्तावित वाघ कॉरिडॉर, खासदार आणि वायुसेना या दोन्ही भागातील अभयारण्य आणि बायोगॅस मधील सातपुडा वाघांचे आरक्षणाशी संबंधित अभयारण्य हे वाघांचे वास्तव्य आहे. </p>

                        </div>







                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="ghatghar">
                    <h3 class="page-header-inner"> जैवविविधता</h3>
                    <div class="row">

                        <div class="col-md-12">
                            <h4 class="sub-heading">वनस्पती </h4>
                            <p>अभयारण्य आत वन चंदिगढांनी वन प्रकारचे भारत वर्गीकृत वर्गीकरणानुसार दक्षिण उष्णकटिबंधातील वाळविलेल्या भाजीपाला जंगल 1 9 63 आहे. टीक, अंजन, बाबर, चिंच, खड्डे, जंभुल, कडाई, हलु, खैर, माहू, निंब, सल, तिव सारख्या झाडे जंगलात आढळणारे बांबू, झुडूप, वनस्पती, गवत, पर्वतारोहण, परजीवी प्रजाती. </p>

                            <h4 class="sub-heading">सस्तन प्राणी  </h4>
                            <p>वाघ, चित्ता, अस्वल, चिंकारा, हरे, फ्लाइंग गिलहरी, भारतीय लांडगा, गोड्या, जंगली मांजर, हाइना, साही, आम लोमडीचे मोंगूस, लाँगूर, बार्किंग हरण, स्पिड्ड हरीण, वन्य सूअर इत्यादी</p>

                            <h4 class="sub-heading">सरपटणारे प्राणी   </h4>
                            <p> कॅलटस, गेक्को, अजगर, कोबरा, कार्गो, सामान्य उद्यान सरडा, सामान्य मॉनिटर गलग्रडी, क्रेट, कॉमन चूहे साप, व्हीपर इत्यादी.</p>

                            <h4 class="sub-heading">पक्षी   </h4>
                            <p>मोर, झाडाची साल, झुडूप, कबूतर, वनखुमी, तपकिरी, हॉर्नबिल, गरुड, आयबिस पक्षी, गरुड, पतंग, लाकडी चोकर, सँडपाइपर, माशाची भांडी, फडफड इ. </p>


                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>   
                <div id="ratangad">
                    <h3 class="page-header-inner"> इको-पर्यटन </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:none">
                                <li>१. धन्वंतरी उद्यान / नक्षत्र व्हॅन</li>
                                <li>२. सुकी धरणे</li>
                                <li>३. पाल हिल स्टेशन</li>
                                <li>४. हिरण केंद्र</li>
                                <li>५. निसर्ग पायरी</li>
                                <li>६. दृष्टिकोन</li>
                            </ul>




                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="aajobagad">
                    <h3 class="page-header-inner"> अभ्यागत माहिती  </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:none">
                                <li>१. स्थान - महाराष्ट्रातील जळगाव जिल्ह्यातील यावल तहसील </li>
                                <li>२. रस्त्याद्वारे - पाल अभयारण्यला भेट देण्याचा महत्त्वाचा प्रवेशद्वार आहे जळगाव (74 कि.मी.), रावेर (28 किमी), भुसावळ (48 किमी), सरवेल - एमपी (), बुरहानपूर - एमपी ()
                                    <ul>
                                        <li>रेल - जवळचे स्टेशन रावेर आणि नंतर भुसावळ.</li>
                                        <li>हवेतून - औरंगाबाद येथे भारतातील देशांतर्गत सेवांची उड्डाणे नियमितपणे उपलब्ध आहेत. </li>
                                    </ul>
                                </li>
                                <li>३. कधी - - अभयारण्य भेट सर्वोत्तम हंगाम सप्टेंबर ते फेब्रुवारी आहे</li>
                                <li>४. निवास - पाल येथे फॉरेस्ट रेस्ट हाउस</li>
                                <li>५. जवळील पर्यटन स्थळ - पाल हिल स्टेशन, व्यासमुनी मंदिर यावल, हातूरूर बांध, मनुदेवी मंदिर, सिरवेल महादेव मंदिर (मध्य प्रदेश)</li>
                            </ul>




                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>  

                <div id="sandan">
                    <h3 class="page-header-inner"> अडकणे   </h3>
                    <div class="row">

                        <div class="col-md-12">
                            <ul style="list-style:none">
                                <li>१. पक्षी जनगणना (डिसेंबर - जानेवारी)</li>
                                <li>२. वन्यजीव जनगणना (मे)

                                </li>
                                <li>३. होळी दरम्यान भोंगिया बाजार (मार्च)</li>
                                <li>४. सूकी धरणाच्या परिसरात पक्षी पहाण्यासारखे</li>
                                <li>५. पर्यावरण जागरूकता</li>

                            </ul>


                            <h4 class="sub-heading">करा आणि करू नका</h4>
                            <ul style="list-style:none">
                                 <li>१. आपले कपडे निसर्गात मिसळा</li>
                                <li>२. शांत राहणे</li>
                                <li>३. प्राण्याना आहार देने नाही</li>
                                <li>४. कचर्यापासून दूर राहा</li>
                                <li>५. हॉर्न वाजवू नका आणि मोठ्याने बोलू नका </li>
                                <li>६. मोबाईल बंद किंवा मूक मोडवर ठेवा</li>
                                <li>७. प्राण्यांना दगड फेकून उत्तेजित करू नका किंवा त्यांना आकर्षित करण्यासाठी प्राणघातक होऊ नका</li>
                                <li>८. सूर्योदय होण्याच्या आधी आणि सूर्यास्ताच्या वेळेस प्रवेश नाही</li>
                                <li>९. प्लास्टिक टाळा</li>
                                <li>१०. छायाचित्रण नाही</li>
                            </ul>  

                        </div>


                        <div class="col-md-12">

                            <p class="page-contact">
                                <a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@domainname.com</a> |
                                <a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> 0२४२४ / २५७०१३</a>
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>
<!-- About and Important links End-->

<script>
    wow = new WOW(
    {
    animateClass: 'animated',
    offset:       100,
    callback:     function(box) {
    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
    }
    }
    );
    wow.init();
</script>
<script language="javascript">
    $(document).ready(function() {
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").hide();
    $("#m1_click").click(function(){
    $("#m1_click").addClass("active");
    $("#m2_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");		
    $("#bhandardara").fadeIn();
    $("#shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();

    });

    $("#m2_click").click(function(){
    $("#m2_click").addClass("active");
    $("#m1_click, #m3_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#shende").fadeIn();
    $("#bhandardara, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	
    });

    $("#m3_click").click(function(){
    $("#m3_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#kalsubai").fadeIn();	
    $("#bhandardara, #shende, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();	

    });

    $("#m4_click").click(function(){
    $("#m4_click").addClass("active");
    $("#m2_click, #m1_click, #m3_click, #m5_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#harishchandragad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m5_click").click(function(){
    $("#m5_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#vilson").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m6_click").click(function(){
    $("#m6_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m5_click, #m7_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#randha").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m7_click").click(function(){
    $("#m7_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m5_click, #m8_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");	
    $("#ratanwadi").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();			
    });

    $("#m8_click").click(function(){
    $("#m8_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ghatghar").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ratangad, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m9_click").click(function(){
    $("#m9_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m8_click, #m10_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#ratangad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #aajobagad, #sandan, #alanggad, #kulang").fadeOut();				
    });

    $("#m10_click").click(function(){
    $("#m10_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m8_click, #m11_click, #m12_click, #m13_click").removeClass("active");
    $("#aajobagad").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #sandan, #alanggad, #kulang").fadeOut();					
    });

    $("#m11_click").click(function(){
    $("#m11_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m8_click, #m12_click, #m13_click").removeClass("active");

    $("#sandan").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #alanggad, #kulang").fadeOut();				
    });

    $("#m12_click").click(function(){
    $("#m12_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m8_click, #m13_click").removeClass("active");
    $("#alanggad").fadeIn();	
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #kulang").fadeOut();				
    });

    $("#m13_click").click(function(){
    $("#m13_click").addClass("active");
    $("#m2_click, #m1_click, #m4_click, #m3_click, #m6_click, #m7_click, #m5_click, #m9_click, #m10_click, #m11_click, #m12_click, #m8_click").removeClass("active");
    $("#kulang").fadeIn();
    $("#bhandardara, #shende, #kalsubai, #harishchandragad, #vilson, #randha, #ratanwadi, #ghatghar, #ratangad, #aajobagad, #sandan, #alanggad").fadeOut();				
    });

    });
</script>